.task-form {
    margin: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background: #e5e5e5;
    box-shadow: 0 5px 0.5rem rgba(0,0,0, 0.25);

}
.fieldset {
    border: 0

}

.input {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.input > input {
    border: 0;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
}

.input > label {
    font-size: 0.8rem;
}

.label {
    margin: 0.25rem;
}

.confirm-button {
    border: 0;
    border-radius: 0.5rem;
    background: #34d399;
    margin-top: 0.35rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}